<link rel="stylesheet" href="scripts/v-accordion/v-accordion.css" />

<div class="col-md-2"></div>
<div class="col-md-8" ng-show="params.encuesta != null">
	
	<div class="col-md-2"></div>
		
	<div class="col-md-8 text-center" style="padding-top:15px;">
	
		<img src="images/img/agora_house.png" class="img-circle" alt="">
		
		<div style="margin-top:50px;margin-bottom:50px;">
		
			<b style="font-size:20px">{{recuento.nombre}}</b>
			<hr style="border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #3279b7; /* Modern Browsers */">
		</div>
			
		<v-accordion class="vAccordion--default" multiple>
		
		  <v-pane ng-repeat="pregunta in recuento.preguntas">
		  
		    <div ng-repeat="opcion in pregunta.opcions">
				<input class="opcion{{pregunta.id}}" id="{{opcion.texto}}"
					type="hidden" value="{{opcion.recuento}}">
			</div>
		    
		    <v-pane-header onclick="drawPie(this)" id="{{pregunta.id}}">
		      {{pregunta.pregunta}}
		    </v-pane-header>
		
		    <v-pane-content ng-repeat-end="">
		     	 <div id="representacion">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" style="cursor:pointer;" onclick="drawPie(thisd)">Circular</a></li>
						<li><a data-toggle="tab" style="cursor:pointer;" id="{{pregunta.id}}" onclick="drawColumn(this)">Columnas</a></li>
						<li><a data-toggle="tab" style="cursor:pointer;" id="{{pregunta.id}}" onclick="drawSemiCircle(this)">Semicirculo</a></li>
						<li><a data-toggle="tab" style="cursor:pointer;" id="{{pregunta.id}}" onclick="drawPie3d(this)">Circulo 3d</a></li>
					</ul>
					<div id="container{{pregunta.id}}"></div>
				</div>
		    </v-pane-content>
		  </v-pane>
		
		</v-accordion>
	
	</div>
	
	<div class="col-md-2"></div>
	
</div>
<div class="col-md-2"></div>

<script  type="text/javascript">
	
	var idActual = -1;
	var datosAct;

	function parseaDatos(boton) {
		
		var posicion = boton.id;

		if (idActual != posicion) {

			//[ [ "Si", parseInt(numSi) ], [ "No", parseInt(numNo) ] ]
			var datos = [];

			idActual = posicion;
			opciones = document.getElementsByClassName("opcion" + posicion);
			var i;
			for (i = 0; i < opciones.length; i++) {
				datos.push([ opciones[i].id, parseInt(opciones[i].value) ]);
			}

			datosAct = datos;
			$(".active").attr('class', '');
		}

		return datosAct;
	}

	function drawColumn(tag) {
		column(datosAct, tag.id);
	}
	function drawSemiCircle(tag){
		semicircle(datosAct, tag.id);
	}
	function drawPie3d(tag){
		pie3d(datosAct, tag.id);
	}
	function drawPie(boton) {
		var datos;
		if (boton) {
			datos = parseaDatos(boton);
		} else {
			datos = datosAct;
		}

		pie(datos, boton.id);
	}	
</script>
<script src="scripts/js/highcharts.js"></script>
<script src="scripts/js/highcharts-3d.js"></script>
<script type="text/javascript" src="scripts/js/estadisticas.js"></script>
<script src="scripts/js/modules/exporting.js"></script>
