<!-- <script src="scripts/js/highcharts.js"></script> -->
<!-- <script src="scripts/js/highcharts-3d.js"></script> -->
<script src="scripts/map/highmaps.js"></script>
<script src="scripts/map/data.js"></script>
<script src="scripts/map/es-all.js"></script>



<div id="container"></div>

<script type="text/javascript">
$(function () {

    $.getJSON('api/resultados/mapa.do', function (datos) {
    	var geojson=Highcharts.maps["countries/es/es-all"]
        // Prepare the geojson
        var states = Highcharts.geojson(geojson, 'map');
            
         var cities = Highcharts.geojson(geojson, 'mappoint');
            

       

       


        // Initiate the chart
        $('#container').highcharts('Map', {

            title : {
                text : 'Frecuencia de preguntas por ciudad'
            },

            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },


            series : [{
                name: 'Provincias',
                data: states,
                color: "#e5ffff",
                states: {
                    hover: {
                        color: Highcharts.getOptions().colors[4]
                    }
                },
                dataLabels: {
                    enabled: true,
                    format: '{point.name}',
                    style: {
                        width: '80px' // force line-wrap
                    }
                },
                tooltip: {
                    pointFormat: '{point.name}'
                }
            }, {
                name: 'Ciudades',
                type: 'mappoint',
                data: cities,
                color: 'black',
                marker: {
                    radius: 4
                },
                dataLabels: {
                    align: 'left',
                    verticalAlign: 'middle'
                },
                animation: false,
                tooltip: {
                    pointFormat: '{point.name}'
                }
            },
            
            
            
            {
                type: 'mapbubble',
                mapData: geojson,
                name: 'Frecuencia de preguntas',
                joinBy: ['name', 'code'],
                data: datos,
                minSize: "0",
                zMin:0,
                maxSize: '12%',
                
                
            }
            
            ]
        });
    });
});
</script>

<!-- <script src="scripts/map/data.js"></script> -->
