
	<!-- Mostramos esto por defecto en el ng-view de index.html -->
	<!-- Hay que usar <a href="..."></a> en lugar de <button></button> porque el onClick falla -->
	
		<div id="agora" class="container-fluid text-center"
		style="background-color: #337AB7; /* Green */ color: #ffffff;">
		
		<img src="images/img/agora_house.png" class="img-circle" alt="">
		<h3>Una nueva forma de</h3>
		<h1>Tomar decisiones en grupo</h1>
		<h3>Agora@US es un sistema software libre ideal para votaciones
			seguras online donde participan cientos o miles de personas:
			primarias abiertas, elecciones institucionales, consultas ciudadanas,
			refer&eacute;ndums. Proveemos soluciones profesionales de innovaci&oacute;n
			democr&aacute;tica</h3>
	</div>

	<div id="resultados" class="container-fluid text-center resultados">
	
	
	
		
		
<!-- 		<img src="images/img/mapa.png" class="imagenPequena" alt=""/> -->

	
	
	</div>
	
	<div id="resultados" class="container-fluid text-center encuestas">
	<h3>Los resultados de este subsistema se muestran de diferentes formas en gr&aacute;ficos de diferentes estilos.</h3>
	<h3>
Se pueden consultar muchas encuestas publicadas en el sistema y visualizar los datos de una manera sencilla.</h3>
	
	
		
		
<!-- 		<img src="images/img/mapa.png" class="imagenPequena" alt=""/> -->

	</br></br>
	<a href="resultados/encuestas.do" class="button btn-lg btn-primary">Ver encuestas en el sistema</a>
	
	<a href="resultados/mapa.do" class="button btn-lg btn-primary">Ver mapas</a>
	
	<a href="resultados/preguntas/estadistica.do" class="button btn-lg btn-primary">Ver estad&iacute;sticas</a>
	
	</div>
